## Settings file was created by plugin Emote Wheel Mod v1.2.0
## Plugin GUID: virtuacode.valheim.emotewheel

[Appereance]

## Color of the highlighted selection
# Setting type: Color
# Default value: FFD100FF
HighlightColor = FFD100FF

## Scale factor of the user interface
# Setting type: Single
# Default value: 0.75
GuiScale = 0.75

[General]

## Hotkey for opening emote wheel menu
# Setting type: String
# Default value: t
Hotkey = t

## Releasing the Hotkey will trigger the selected emote
# Setting type: Boolean
# Default value: true
TriggerOnRelease = true

## Click with left mouse button will trigger the selected emote
# Setting type: Boolean
# Default value: false
TriggerOnClick = false

